<template>
    <div>
        <HeaderComponent :selected="selected"/>

        <div v-if="isLoaded">
            <TableComponent
                :students="students"
                :selected="selected"
            />

            <div class="text-center mt-5">
                <nav>
                    <ul class="pagination">
                        <li :aria-disabled="!previous" aria-label="« Previous" class="page-item" :class="!previous ? 'disabled' : '' ">
                            <a @click.prevent="fetchData(previous)" class="page-link" style="cursor: pointer">Previous</a>
                        </li>

                        <li :aria-disabled="!previous" class="page-item"  :class="!next ? 'disabled' : '' ">
                            <a @click.prevent="fetchData(next)" rel="next" aria-label="Next »" style="cursor: pointer" class="page-link">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div v-else>
            ...Loading
        </div>
    </div>
</template>

<script>
    import HeaderComponent from '../components/students/Header.vue';
    import TableComponent from '../components/students/Table.vue';

    export default {
      data () {
        return {
          students: '',
          selected: [],
          isLoaded: false,
          next: '',
          previous: '',
        }
      },
      components:{
        HeaderComponent,
        TableComponent,
      },
      created () {
        this.fetchData(`http://127.0.0.1:8003/api/students?page=1`)
      },

      mounted(){
            var selected = this.selected;

            // eventBus.$on('selectedStudent', function (data) {
            //     if(data.status){
            //         selected.push(data.id);
            //     }else{
            //         _.remove(selected, function(n) {
            //             return n===data.id;
            //         });
            //     }
            //
            // });
        },
        methods: {
            fetchData(fetchUrl) {
              fetch(fetchUrl)
                .then((response) => response.json())
                .then((json) => {
                  // do stuff with responseJSON here...
                  this.students = json.data;
                  this.isLoaded = true

                  this.next = json.links.next
                  this.previous = json.links.prev
                });
            }
            // selectedStudent: function(student) {
            //     this.selected.push(student);
            // }
        }
    }
</script>
