<template>
    <tr>
        <td>
            <input type="checkbox" v-on:click="select(student)" v-model="picked">
        </td>
        <td class="text-left">{{ student.name }}</td>
        <td class="text-left">{{ student.email }}</td>
        <td class="text-left">{{ student.university }}</td>
        <td class="text-left">{{ student.course }}</td>
    </tr>
</template>

<script>

  export default{
    props: ['student','selected'],
    data(){
      return{
        picked: false
      }
    },
    created() {
      // console.log(this.student)
    }
    // mounted(){
    //   // var vue = this;
    //
    //   // eventBus.$on('toggleSelection', function (value) {
    //   //   vue.picked = value;
    //   //   eventBus.$emit('selectedStudent',{
    //   //     id:vue.student.id,
    //   //     status:value
    //   //   });
    //   // });
    // },
    // methods: {
    //   select: function (student) {
    //     // eventBus.$emit('selectedStudent',{
    //     //   id:student.id,
    //     //   status:this.picked
    //     // });
    //   }
    // }
  }
</script>
